@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('./assets/fonts/Lato-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url('./assets/fonts/Lato-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('./assets/fonts/Lato-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Rounded';
  font-weight: 400;
  src: url('./assets/fonts/SFCompactRounded-Regular.otf') format("opentype");
}
@font-face {
  font-family: 'Rounded';
  font-weight: 600;
  src: url('./assets/fonts/SFCompactRounded-Semibold.otf') format("opentype");
}
