.ErrorText {
  font-size: 1.2rem;
  margin-left: 0.7rem;
  font-style: italic;
  color: rgb(252, 81, 81);
  animation: fade 0.25s ease-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
