.AuthLogin {
  animation: fade 0.25s ease-out;

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  > h4 {
    text-align: center;
    font-size: 2.5rem;

    margin-bottom: 1rem;

    @media (max-width: 500px) {
      font-size: 2rem;
    }
  }

  > p {
    text-align: center;
    font-size: 1.2rem;

    > button {
      text-decoration: underline;
      transition: color 0.25s ease-out;

      &:hover {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  > .field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    > label {
      font-size: 1.5rem;
    }
  }
}

.Button {
  display: block;
  margin: 2.5rem auto 1rem;
}
