@import '../../../assets/scss/vars';
.NavMenuList {
  display: flex;
  flex-direction: column;
  > ul {
    flex-grow: 1;
    padding: 1.2rem 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    > li {
      > a {
        display: block;
        padding: 0.8rem;
        font-size: 1.5rem;
        letter-spacing: 0.03em;
        border-radius: 0.5rem;
        transition: background 0.25s ease-out;

        &:hover,
        &.active {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  > footer {
    background-color: var(--background-color);
    padding: 2rem 1.6rem;
    box-shadow: -0.1rem 0px 0px 0px rgba(255, 255, 255, 0.1) inset;

    @media (max-width: $hidden-navmenu) {
      background-color: transparent;
    }
  }

  @media (max-width: $hidden-navmenu) {
    position: fixed;
    top: var(--height-header);
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    background: radial-gradient(
      150.94% 121.8% at 100.94% 150.33%,
      #f7cbfd 0%,
      #7758d1 100%
    );

    &--active {
      transform: translateX(0);
    }
  }
}
