@import '../../../assets/scss/mixins';
.Banner {
  @include flexCenter;
  font-family: var(--font-family-second);
  border-radius: var(--border-radius);
  font-size: 2.4rem;
  font-weight: 600;
  background-image: url(../../../assets/images/banner.webp);
  background-position: 0 30%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 18rem;
  max-width: 66.8rem;
  text-align: center;
  margin: 0 auto;
  animation: fade 0.25s ease-out;

  @media (max-width: 640px) {
    background-image: url(../../../assets/images/banner-lg.webp);
  }

  @media (max-width: 480px) {
    background-image: url(../../../assets/images/banner-sm.webp);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
